*{
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
   
}

/* HEADER ----------------------------------------*/

.header1{
    display: block;
    width: 100%;
    height: 60vh;
    background-image: url("../Images/vodopad.jpg");
    background-size: cover;
    background-position: center;
    z-index: 100;
    overflow: hidden;
}


.header{
    box-sizing: border-box;
    width: 85%;
    height: 80px;
    float: right;
    margin-top: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 10px 0 0 10px;
    background-color: rgb(0, 0, 0, 0.8);

}

.lista ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.lista ul li a{
    font-size: 35px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Vina Sans', cursive;
}

.lista ul li a:hover{
    color: orange;
    transition: 0.5s;
}

.signIn li a{
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    background-color: orange;
    font-family: 'Vina Sans', cursive;
}

.signIn li a:hover{
    border: solid orange 1px;
    color: orange;
    background-color: transparent;
    transition: 0.5s;
}

h1{
    color: white;
    font-family: 'Sigmar', cursive;
    font-weight: initial;
    font-size: 30px;

}

/* NASLOV------------------------------------------*/

.naslov{
    width: 100%;
    display: inline-flex;
    margin-left: 100px;
    clear: right;
    margin-top: 150px;
}

h2{
    color: white;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    font-size: 70px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

ul{
    list-style: none;
    display: flex;
}

.naslov ul li a{
    display: inline-flex;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    
}

.naslov ul li a:hover{
    color: orange;
    font-size: 75px;
    transition: 1s;
}


/* JUNK DIV ---------------------------------*/

.junk{
    display: flex;
    width: 100%;
    height: 5px;
    border-radius: 50% ;
    background-color: orange;
    
}


/* MOST VISITED SEKCIJA GRADOVI - naslov -----------------*/

.mostVisited{
    padding-top: 100px;
    text-align: center;
    background-color:aliceblue
}

.mostVisited h2{
    color: orange;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

/*MOST VISITED SEKCIJA GRADOVI - slike --------------------------------------*/

.cities{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 50px 0px 50px 0px;
    background-color:aliceblue;
    text-align: center;
}

.black{
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
    padding:50px;
    text-align: center;
    box-sizing: border-box;
}

.city{
    display: inline-block;
    height: auto;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
}

.city img{
    width: 350px;
    height: 400px;
    border: solid white 5px;
}

.city img:hover{
    transform: translateY(-10px);
    border: solid aqua 5px;
    transition: 1s;
}

p{
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*------- more button ---------*/

.more li {
    padding-top: 30px;
    display: block;
    margin: auto;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}

.more li a{
    text-decoration: none;
    list-style: none;
    color: aqua;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid aqua 2px;
}

.more li a:hover{
    background-color: aqua;
    color: white;
    transition: 0.5s;
}

li:not(ul li):not(ol li) {
    list-style: none;
}

/* WHAT WE REPRESENT sekcija - naslov -------------------------------*/
.whatWeRepresent{
    background-color: aliceblue;
    width: 100%;
    height: auto;
}
.whatWeRepresent h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    color: orange;
}

/* WHAT WE REPRESENT sekcija - ponude -----------------------------------*/

.locations{
    display: flex;
    width: 100%;
    height: auto;
    background-color:aliceblue;
    padding-top: 50px;
    overflow: hidden;
}

.background{
    width: 100%;
    height: auto;
    display: block;
    background-color:beige;
}

img{
    width: auto;
    height: 500px;
}

.represent1{
    display: inline-flex;
    background: linear-gradient(to right, #e1ede3, #7cea7c);
    width: 100%;
    padding-top: 50px;
    justify-content: start;
    text-align: start;
}


.represent2{
    display: inline-flex;
    background: linear-gradient(to right, #e2e046, #e1e1de);
    width: 100%;
    padding-top: 50px;
    justify-content: end;
    text-align: end;
    padding-bottom: 20px;
}

.represent3{
    top: 0;
    display: inline-flex;
    justify-content: start;
    background: linear-gradient(to right, #ddddd3, #eeaf82);
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}

.represent1 .represent-child
{
    margin-left: 30px;
}


.represent-child h2{
    text-align: center;
    align-items: center;
}

.represent1 p{
    text-align: justify;
    align-items: center;
}


.represent2 img{
    float: right;
    margin-right: 20px;
}

.locations p{
    color: black;
    width: 100%;
    text-align: justify;
    align-items: center;
    padding-top: 30px;
    line-height: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.represent-child{
    padding-top: 30px;
    width: 40%;
    display: block;
    justify-content: start;
    text-align: start;
    
}

.visit-now{
    padding-top: 20px;
}

.visit-now li a{
    padding: 5px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Pacifico', cursive;
}

.visit-now li a:hover{
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
    transition: 0.5s;
}

.andOther{
    background-color: aliceblue;
    width: 100%;
    height: auto;
}

.andOther h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    color: orange;
}

.slogan{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 100%;
    height: 100px;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}

.register-now{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.register-now li a{
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px 10px 20px;
    border: solid orange 2px;
    font-weight: bold;
    background-color: orange;
}

.slogan h3{
    font-size: 40px;
    text-transform: uppercase;
}

.register-now li a:hover{
    border: solid orange 2px;
    background-color: transparent;
    color: orange;
    transition: 0.5s;
}

/*FOOTER ---------------------------------------------*/

footer{
    display: inline-flex;
    background-color: black;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.left-text{
    display: block;
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    line-height: 30px;
}

.left-text p {
    display: block;
    width: 50%;
    height: auto;
}

.right-text{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.right-text ul{
    width: 100%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 30px;
}

.right-text ul li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    align-items: center;
}